
   {{!-- template envoyé au client pour confirmation de l'envoie du mail --}}
   
<div style="background-color: rgb(226, 226, 226); width: 90%; max-width: 500px; margin : auto;">
    <div style="padding: 20px;">
        <h1 style="text-align: center; font-size: 30px; margin-bottom: 0;">Monkey-School</h1>
       
         <div style="display: flex; justify-content: center; margin-top: 20px">
              <img src="cid:monkey-logo" style="display: block; width: 50px; height: 50px; margin: auto"  alt="monkey logo">
        </div>
     
        <div style="margin-top: 20px; border-bottom: 1px solid rgb(163, 117, 117); border-top: 1px solid rgb(163, 117, 117); padding: 15px 0">
            <div style="display: inline-block;">
                <h2 style=" padding: 0; margin: 0; margin-top: 10px; padding-bottom: 5px; font-size: 25px; font-weight: 300 ">{{ nom }} {{ prenom }}</h2>
                <p style=" margin : 0; padding: 0; width: 50%; border: solid 2px rgb(199, 71, 250); "></p>
            </div>
            <h3 style="font-size: 25px; text-align: center; padding-bottom: 10px;">Merci pour votre message !</h3>
            <p>Nous vous répondrons dans les plus brefs délais. !</p>
        </div>
        <div> 
            <h4 style="font-size: 20px;">Votre message : </h4>
            <p style="background-color: rgb(241, 241, 241); padding: 10px; line-height: 1.6;"> {{ message }}</p>
        </div>
    </div>


    <div style="text-align: center; background-color: rgb(199, 71, 250); color: white; padding: 15px 10px; font-size: 14px;">
       
        <div>
            <div>
                <i class="fas fa-phone-alt"></i> +41 79 519 04 84
            </div>
            <i class="fas fa-envelope"></i> info@monkey-school.ch
        </div>
        <div style="font-size: 14px; margin-bottom: 0;">
            Monkey-School, Route de la Moubra 73, 3963 Crans-Montana
        </div>
    </div>
</div>

  


