 
 <h1>Vous avez recu un nouveau message du Livre d'or : </h1>
    <p>envoyé le : {{ date }}</p>
    <div class="section">
        <div class="boxNom">
            <label>message envoyé par :</label>
            <p class="nom"> {{ nom }}</p>
        </div>
        <div class="boxMessage">
            <label>Message : </label>
            <p class="message" > {{ message }}</p>
        </div>
        <div>
        </div>
</div> 


 <style>
        .section{
            width: 80%;
            background-color: rgb(209, 209, 209);
            color: black;
            padding: 20px;
            box-shadow: 0 0 5px 5px rgb(194, 194, 194);
        }
        .boxNom{
            margin-bottom: 10px;
        }
        .boxNom label {
            display: inline-block;
        }
        .nom {
            display: inline-block;
            font-size: 25px;
            padding-left: 10px;
        }
        p{
            font-size: 16px;
            color: rgb(204, 48, 48);
        }
      
        label{
            display: block;
            font-size: 20px;
            font-weight: bold;
        }
        h1{
            color: green;
            margin-top: 50px;
        }
        .message{
            padding: 20px;
            border : solid 2px white;
            background-color: black;
            color: white;
            border-radius: 5px;
            line-height: 1.4;
        }
        
    </style>
